
.input-field label {
    color: #000 !important;
  }

.input-field input[type=email]:focus + label , .input-field input[type=email]:focus + label {
    color: #000 !important;
    }

.input-field input[type=email]:focus , .input-field input[type=email]:focus {
    border-bottom: 0.2px  #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
  }
  
.input-field .prefix.active {
    color: #000 !important;
  }

#quickstart-sign-in {
    background-color: #4285F4 !important;
}

main{
  margin-top: 45px !important;
}

.card-panel{
  margin-top: 30px !important;
}

.dropdown-content{
  width: max-content !important;
  height:auto !important;
  z-index: 5;
}

#map {
  height: 100%;
}